<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="baseTemplate">
	<!-- this is baseTemplate -->
	<link rel="stylesheet" type="text/css"
	      href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Turvallinen ohjelmointi</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <div class="navbar-collapse collapse">
                	<ul class="nav navbar-nav navbar-left">
                		<li class="active"><a th:href="@{/}">Home</a></li>
                	</ul>
                    <ul class="nav navbar-nav navbar-right">
                    	<li sec:authorize="isAuthenticated()" align="right"><a>Logged in as: <span th:text ="${#authentication.getPrincipal().getUsername()}"></span></a></li>
                    	<li class="active" sec:authorize="isAuthenticated()" align="right"><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

</body>
</html>
